*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(144, 143, 143, 0.682);
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}